*{margin: 0;}
@font-face{
    font-family: fuenteBlog;
    src: url(../css/ethnocentric\ rg\ it.ttf);
}
/*ENCABEZADO*/
header{height: 200px; background: #886A08; display: flex; flex-direction: row; justify-content: space-around; justify-items: center; align-items: center; margin: 0 auto;
        width: 100%;}
.logo div img{border-width: 20px; border-radius: 20px;}
.titulo{ display: flex; flex-direction: row; justify-content: space-between; align-items: center; justify-items: center; }
.titulo h1 { font-family: fuenteBlog; font-size:50px; color:white; margin: 0 auto; text-align: center; }
.titulo h1 span{color: orange; font-family: fuenteBlog; }
.titulo a{text-decoration: none;}
.login{text-decoration: none; color: white; padding: 3px; border-radius: 10px;}
.icon-user{font-size: 20px; margin-left: 20px;}
.login:hover{text-decoration: underline; background: white; color: #56777F ;}
.icon-home{font-size: 25px; padding: 0;}
.icon-home:hover{text-decoration: underline; background: white; color: #56777F;}
.casa{text-decoration: none; color: white;}
#nuevoPost a:hover, #nickUsu:hover,#btnBuscar:hover{background: orange; color: white;}


#fotoPerfil{
    width: 3.5vw ;
    height: 3.5vw;
}
#desplegable{
    position: absolute;
    visibility: hidden;
    background-color: aliceblue;
    border: 0.2vw solid black;
    height: 5vw;
    text-align: center;
    border-radius: 0.3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.botonesUsuario{
    background-color: orange;
    border: 0.1vw solid black;
    margin: 1vw;
    text-align: center;
    padding: 0;
    border-radius: 0.3vw;
    text-decoration: none;
    color: black;
}
#nuevoPost a, #nickUsu,#btnBuscar{
    border: 0.1vw solid black;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    border-radius: 0.3vw;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

@media screen and(max-width:500px){
    header{display: grid; grid-template-areas: " logo titulo"
                                                "buscador registro";}
    .logo{grid-area: logo;}
    .titulo{grid-area: titulo;}
    .buscador{grid-area: buscador;}
    .registro{grid-area: registro;}
}

