/*MAIN*/
@font-face{
    font-family: fuenteBlog;
    src: url(../css/ethnocentric\ rg\ it.ttf);
}
h3{font-size: fuenteBlog;}
*{margin: 0;}
main{display: flex; height: 600px; flex-direction: row; justify-content: space-between; justify-items: center; }

.aside{display: flex; flex-direction: column; justify-content: space-between; justify-items: center; align-items: center; 
    background: orange; border: 2px solid black; height: 400px; width: 30%;  padding: 18px;}
.aside div{border: 2px solid white; height: 100px;}
.postPrincipales{width: 70%; background: grey; height: 100%; padding: 20px;}
.postPrincipales div{border-bottom: 2px solid white;}
.postPrincipales div h3{color: white;}
.topPost,.topUsuarios{height: 100%;}
.topPost div{border: none;}
.fecha{position: relative; left:85%;  /* margin-right: 20px; */ color: red;}
.piePagina{background: white; padding: 5px;}
.piePagina p{color: black;}

